#performances {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.day-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: black 1px solid;
	width: 300px;
	height: auto;
}
